    <!-- Title area -->
    <div class="intro-area">
        <div class="wrapper">
            <div class="page-title">
                <h5>Dashboard</h5>
            </div>
             <!-- Dashboard Controls area -->
		    
           

            <div class="clear"></div>

            
        </div>
    </div>

    <div class="dash-controls">
		<div class="wrapper">
			<div class="secondary-controller">
		    	<ul>
		    		<li><%= link_to image_tag("icons/control/32/page.png") + content_tag(:span, "New Campaign"), new_campaign_path %></li>
		        	<li><a href="#" title=""><img src="/assets/icons/control/32/statistics.png" alt="" /><span>Campaign Statistics</span></a></li>
		            <li><a href="#" title=""><img src="/assets/icons/control/32/users.png" alt="" /><span>Add Subscriber</span></a></li>
		            <li><a href="#" title=""><img src="/assets/icons/control/32/page.png" alt="" /><span>Add Subscriber Group</span></a></li>
		            <li><a href="#" title=""><img src="/assets/icons/control/32/tasks.png" alt="" /><span>Task List</span></a></li>
		        </ul>
		        <div class="clear"></div>
		    </div>
	    </div>
	</div>
    <div class="wrapper">
    	<div class="one-half">
    		 <div class="widget">
                    <div class="title"><img src="/assets/icons/light/power.png" alt="" class="title-icon" /><h6>Latest Campaigns</h6><div class="num"><a href="#" class="blue-number">+200</a></div></div>
                    <table cellpadding="0" cellspacing="0" width="100%" class="standard-table task-widget-t">
                        <thead>
                            <tr>
                                <td>Description</td>
                                <td width="100">Status</td>
                                <td width="60">Actions</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="task-green"><a href="#" title="">Develop New Support Suite</a></td>
                                <td><span class="green font-size11">In Progress</span></td>
                                <td class="action-buttons"><a href="#" title="Update" class="tipS"><img src="/assets/icons/edit.png" alt="" /></a><a href="#" title="Remove" class="tipS"><img src="/assets/icons/remove.png" alt="" /></a></td>
                            </tr>
                            <tr>
                                <td class="task-pending"><a href="#" title="">Read Emails</a></td>
                                <td><span class="label-grey font-size11">Pending</span></td>
                                <td class="action-buttons"><a href="#" title="Update" class="tipS"><img src="/assets/icons/edit.png" alt="" /></a><a href="#" title="Remove" class="tipS"><img src="/assets/icons/remove.png" alt="" /></a></td>
                            </tr>
                            <tr>
                                <td class="task-pending"><a href="#" title="">Improve Connection Speed</a></td>
                                <td><span class="label-grey font-size11">Pending</span></td>
                                <td class="action-buttons"><a href="#" title="Update" class="tipS"><img src="/assets/icons/edit.png" alt="" /></a><a href="#" title="Remove" class="tipS"><img src="/assets/icons/remove.png" alt="" /></a></td>
                            </tr>
                            <tr>
                                <td class="taskD"><a href="#" title="">Delete Spam</a></td>
                                <td><span class="red font-size11">done</span></td>
                                <td class="action-buttons">
                                	<a href="#" title="Update" class="tipS"><img src="/assets/icons/edit.png" alt="" /></a>
                                	<a href="#" title="Remove" class="tipS"><img src="/assets/icons/remove.png" alt="" /></a>

                                </td>
                            </tr>
                            <tr>
                                <td class="taskD"><a href="#" title="">Download And Install System Update</a></td>
                                <td><span class="red font-size11">done</span></td>
                                <td class="action-buttons"><a href="#" title="Update" class="tipS"><img src="/assets/icons/edit.png" alt="" /></a><a href="#" title="Remove" class="tipS"><img src="/assets/icons/remove.png" alt="" /></a></td>
                            </tr>
                        </tbody>
                    </table> 
                </div>
                <div class="clear"></div>
    	</div>
    </div>
    



