<!-- Dashboard Controls area -->
    <div class="dash-controls">
        <div class="wrapper">
            <div class="secondary-controller">
                <ul>
                    <li><a href="#" title=""><img src="/assets/icons/control/32/page.png" alt="" /><span>Add new Page</span></a></li>
                    <li><a href="#" title=""><img src="/assets/icons/control/32/database.png" alt="" /><span>Database Query</span></a></li>
                    <li><a href="#" title=""><img src="/assets/icons/control/32/users.png" alt="" /><span>Add new user</span></a></li>
                    <li><a href="#" title=""><img src="/assets/icons/control/32/statistics.png" alt="" /><span>Server statistics</span></a></li>
                    <li><a href="#" title=""><img src="/assets/icons/control/32/comments.png" alt="" /><span>Review comments</span></a></li>
                    <li><a href="#" title=""><img src="/assets/icons/control/32/tasks.png" alt="" /><span>Task List</span></a></li>
                </ul>
                <div class="clear"></div>
            </div>
        </div>
    </div>