 <div class="top-navigation">
        <div class="wrapper">
            <div class="welcome"><a href="#" title=""><img src="/assets/user_header.png" alt="" /></a><span>Welcome Administrator!</span></div>
            <div class="user-navigation">
                <ul>
                    <li><a href="#" title=""><img src="/assets/user_header.png" alt="" /><span>Profile</span></a></li>
                    <li><a href="#" title=""><img src="/assets/icons/topnav/tasks.png" alt="" /><span>Tasks</span></a></li>  
                    <li><a href="#" title=""><img src="/assets/icons/topnav/settings.png" alt="" /><span>Settings</span></a></li>
                    <li><a href="login.html" title=""><img src="/assets/icons/topnav/logout.png" alt="" /><span>Logout</span></a></li>
                </ul>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    
    <!-- Responsive header -->
    <div class="resp">
        <div class="responsive-header">
            <a href="index.html" title=""><img src="/assets/logo_dark.png" alt="" /></a>
        </div>
        
        
        <div class="responsive-menu">
            <span class="active-menu-item"><img src="/assets/icons/light/home.png" alt="" />Dashboard</span>
            <ul class="resp-menu">
                <li><a href="index.html" title=""><img src="/assets/icons/light/home.png" alt="" />Dashboard</a></li>
                <li><a href="charts.html" title=""><img src="/assets/icons/light/graph.png" alt="" />Statistics and charts</a></li>
                <li><a href="#" title="" class="exp"><img src="/assets/icons/light/pencil.png" alt="" />Forms Styles<strong>&darr;</strong></a>
                    <ul>
                        <li><a href="forms.html" title="">Form elements</a></li>
                        <li><a href="form_validation.html" title="">Validation</a></li>
                        <li><a href="form_editor.html" title="">WYSIWYG and file uploader</a></li>
                        <li class="last"><a href="form_wizards.html" title="">Wizards</a></li>
                    </ul>
                </li>
                <li><a href="ui_elements.html" title=""><img src="/assets/icons/light/users.png" alt="" />Interface elements</a></li>
                <li><a href="tables.html" title="" class="exp"><img src="/assets/icons/light/frames.png" alt="" />Tables<strong>&darr;</strong></a>
                    <ul>
                        <li><a href="table_static.html" title="">Static tables</a></li>
                        <li><a href="table_dynamic.html" title="">Dynamic table</a></li>
                        <li class="last"><a href="table_sortable_resizable.html" title="">Sortable &amp; resizable tables</a></li>
                    </ul>
                </li>
                <li><a href="#" title="" class="exp"><img src="/assets/icons/light/power.png" alt="" />Widgets and grid<strong>&darr;</strong></a>
                    <ul>
                        <li><a href="widgets.html" title="">Widgets</a></li>
                        <li class="last"><a href="grid.html" title="">Grid</a></li>
                    </ul>
                </li>
                <li><a href="#" title="" class="exp"><img src="/assets/icons/light/alert.png" alt="" />Error pages<strong>&darr;</strong></a>
                    <ul class="sub">
                        <li><a href="403.html" title="">403 page</a></li>
                        <li><a href="404.html" title="">404 page</a></li>
                        <li><a href="405.html" title="">405 page</a></li>
                        <li><a href="500.html" title="">500 page</a></li>
                        <li><a href="503.html" title="">503 page</a></li>
                        <li class="last"><a href="offline.html" title="">Website is offline</a></li>
                    </ul>
                </li>
                <li><a href="file_manager.html" title=""><img src="/assets/icons/light/paperclip.png" alt="" />File manager</a></li>
                <li><a href="#" title="" class="exp"><img src="/assets/icons/light/download-to-computer.png" alt="" />Other pages<strong>&darr;</strong></a>
                    <ul>
                        <li><a href="typography.html" title="">Typography</a></li>
                        <li><a href="calendar.html" title="">Calendar</a></li>
                        <li class="last"><a href="gallery.html" title="">Gallery</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        
    </div>
    